<div class="row">

  <div class="col-md-3">

    <div class="box">



      <div class="box-divider m-a-0"> </div>
      <div class="box-body">
        <div>
          <img [src]="src" align="center" style=" height: auto;" class="img-responsive center-block" [hidden]="src === ''">
</div>
 

</div>
</div>
</div>

<div class="col-md-9">

  <div class="nav-active-border b-primary bottom box">
    <div class="nav nav-md">
      <a class="nav-link" (click)="changeNav('SUMMARY')" [ngClass]="{active: nav==='SUMMARY'}">
            Copy Information
          </a>
      <a class="nav-link " (click)="changeNav('HISTORY')" [ngClass]="{active: nav==='HISTORY'}">
            Copy History
          </a>


    </div>
  </div>




  <div class="row">
   
    <div class="col-md-6 pull-right">
      <div class="dropdown inline">
        <button class="btn primary    dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> Checkout </button>
        <div class="dropdown-menu pull-right">
          <a class="dropdown-item">Read Now</a>
          <a class="dropdown-item">Borrow</a>
          <a class="dropdown-item">Reserve</a>

        </div>
      </div>

      <div class="dropdown inline">
        <button class="btn info    dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Print Code </button>
        <div class="dropdown-menu pull-right">

          <a class="dropdown-item">Print Barcode</a>
          <a class="dropdown-item">Print QR Code</a>
        </div>
      </div>

      <button class="btn  grey ">Edit</button>
      <button class="btn  btn-danger ">Archive</button>
    </div>
  </div>
  <br>
  <div class="box-divider m-a-0"></div>
  <br>


  <app-book-view-summary *ngIf="nav==='SUMMARY'"></app-book-view-summary>
  <app-book-copy-history  *ngIf="nav==='HISTORY'"></app-book-copy-history>

</div>