<form [formGroup]="bookForm" (ngSubmit)="submitForm()">
    <div class="box">
        <div class="box-header">
            <h2>Main Information</h2>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">

            <div class="form-group  row" [ngClass]="{'has-danger': validationRule('title')}">
                <label class="col-sm-2 form-control-label">Book Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="" formControlName="title">
                    <div class="form-control-feedback" *ngIf="validationRule('title')">
                        Book Title is required.
                    </div>

                </div>
            </div>

            <div class="form-group row" [ngClass]="{'has-danger': validationRule('title')}">
                <label class="col-sm-2 form-control-label">Author</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="" formControlName="author">
                    <div class="form-control-feedback" *ngIf="validationRule('title')">
                        Author is required.
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Editor</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="" formControlName="editor">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Publisher</label>
                <div class="col-sm-7">
                    <input type="text" class="form-control" placeholder="" formControlName="publisher">
                </div>
                <label class="col-sm-1 form-control-label"> Year</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="" formControlName="published_year">
                </div>
            </div>

            <div class="form-group row">

                <label class="col-sm-2 form-control-label">Category</label>

                <div class="col-sm-4">
                    <select class="form-control" placeholder="" formControlName="category"> 

                  <option *ngFor="let cat of categories" [value]="cat.id">
                     {{cat.cat_name}}
                  </option>
                </select>
                </div>

                <label class="col-sm-1 form-control-label">ISBN</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="" formControlName="isbn">
                </div>
                <label class="col-sm-1 form-control-label" [ngClass]="{'has-danger': validationRule('cl_num')}">CL Num</label>
                <div class="col-sm-2 " [ngClass]="{'has-danger': validationRule('cl_num')}">
                    <input type="text" class="form-control" placeholder="" formControlName="cl_num">
                    <div class="form-control-feedback" *ngIf="validationRule('cl_num')">
                        This is required.
                    </div>
                </div>
            </div>







        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <h2>Additional Information</h2>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Series</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" placeholder="" formControlName="series">
                </div>
                <label class="col-sm-2 form-control-label">Series No.</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="" formControlName="series_num">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Pages</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="" formControlName="pages">
                </div>
                <label class="col-sm-2 form-control-label">Height</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" placeholder="" formControlName="height">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 form-control-label">Remarks</label>
                <div class="col-sm-10">
                    <textarea type="text" class="form-control" placeholder="" formControlName="remarks"></textarea>
                </div>
            </div>

        </div>
    </div>

    <div class="box">
        <div class="box-header">
            <h2>Book Summary</h2>
        </div>
        <div class="box-divider m-a-0"></div>
        <div class="box-body">


            <div class="form-group row">

                <div class="col-sm-12">
                    <textarea type="text" class="form-control" rows="7" placeholder="Enter Book Summary" formControlName="summary"></textarea>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-7"></div>
        <div class="col-md-2">
            <button class="btn  btn-block btn-fw white">Reset</button>
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-block btn-fw primary">Save</button>
            <!--[disabled]="!bookForm.valid"-->
        </div>


    </div>
</form>