<div class="row">
  <div class="col-sm-7">
    <div class="box">
      <div class="box-header ">
        <h2>Famous Five <small> By Enid Blyton</small></h2>

      </div>
      <div class="box-divider m-a-0"></div>
      <div class="box-body  ">
        <p>
          No Summary Available
        </p>

      </div>
      <div class="box-divider m-a-0"></div>
      <div class="box-body  ">
        <p>
          No Remarks Available
        </p>

      </div>
      <div class="box-divider m-a-0"></div>
      <div class="row row-col no-gutter  ">
        <div class="col-xs-3 b-r">
          <a class="p-y block text-center">
            <strong class="block">796</strong>
            <span class="block">Copies</span>
          </a>
        </div>
        <div class="col-xs-3 b-r">
          <a class="p-y block text-center">
            <strong class="block">342</strong>
            <span class="block">Available</span>
          </a>
        </div>
        <div class="col-xs-3  b-r">
          <a class="p-y block text-center">
            <strong class="block">20</strong>
            <span class="block">Reserved</span>
          </a>
        </div>
        <div class="col-xs-3">
          <a class="p-y block text-center">
            <strong class="block">2</strong>
            <span class="block">Taken</span>
          </a>
        </div>
      </div>

    </div>
  </div>
  <div class="col-md-5">
    <div class="box">
      <div class="box-header ">
        <h2>Information</h2>

      </div>
      <div class="box-divider m-a-0"></div>
      <div class="list group">


        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle primary avatar">
                <span>E</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Edited By </a></div>
            <small class="text-muted text-ellipsis">Enid Blyton</small>

          </div>
        </li>

        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle indigo avatar">
                <span>P</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Published By </a></div>
            <small class="text-muted text-ellipsis">Enid Blyton On 2008</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle pink avatar">
                <span>C</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Category </a></div>
            <small class="text-muted text-ellipsis">N/A</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle purple avatar">
                <span>I</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">ISBN </a></div>
            <small class="text-muted text-ellipsis">N/A</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle blue avatar">
                <span>C</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">CL Number </a></div>
            <small class="text-muted text-ellipsis">N/A</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle dark avatar">
                <span>S</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Series </a></div>
            <small class="text-muted text-ellipsis">0001 - Famous FIve</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle dark green">
                <span>P</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Pysical Information </a></div>
            <small class="text-muted text-ellipsis">85 pages & 20.5cm Height</small>
          </div>
        </li>

      </div>
    </div>
  </div>
</div>