<div class="row">
  <div class="col-sm-4">
    <div class="box">

      <div class="box-divider m-a-0"></div>

      <div class="box-divider m-a-0"></div>

      <div class="list group">
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle pink avatar">
                <span>C</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Checkout ID </a></div>
            <small class="text-muted text-ellipsis">N/A</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle purple avatar">
                <span>M</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Member ID</a></div>
            <small class="text-muted text-ellipsis">N/A</small>
          </div>
        </li>


        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle dark avatar">
                <span>N</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Name </a></div>
            <small class="text-muted text-ellipsis">Nilesh Jayanandan</small>
          </div>
        </li>

        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle primary avatar">
                <span>D</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Date Taken </a></div>
            <small class="text-muted text-ellipsis">2010/10/10</small>

          </div>
        </li>

        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle indigo avatar">
                <span>R</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Return Date </a></div>
            <small class="text-muted text-ellipsis">2010/10/10</small>
          </div>
        </li>





      </div>

    </div>
  </div>
  <div class="col-md-8">
    <div class="box">
      <div class="box-header ">
        <h2>List of Returns</h2>

      </div>
      <div class="box-divider m-a-0"></div>
      <div class="box-body">
      <table class="table table-condensed table-striped table-hover">
        <thead>
          <th style="width: 5rem">Copy ID</th>
          <th>Status</th>
          <th>Remarks</th>
        </thead>
        <tbody>
          <tr>
            <td class="center-block">0001</td>
            <td>
              <select name="" class="form-control " id="">
                <option value="">Good</option>
                   <option value="">Damaged</option>
                     <option value="">Lost</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
          <tr>
            <td class="center-block">0002</td>
            <td>
              <select name="" class="form-control " id="">
                <option value="">Good</option>
                   <option value="">Damaged</option>
                    <option value="">Lost</option>
              </select>
            </td>
            <td>
              <input type="text" class="form-control">
            </td>
          </tr>
        </tbody>

      </table>

      <div class="row">
        <div class="col-md-8"></div>
          <div class="col-md-2">

          <button class="btn danger btn-block">Add Fine</button>
        </div>
        <div class="col-md-2">

          <button class="btn primary btn-block">Save</button>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>