  <div class="box">
    <div class="box-header">
      <h2>Main Information</h2>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="box-body">

      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Member Type</label>
        <div class="col-sm-4">
          <select class="form-control">
              <option value="">Library</option>
              <option value="">Individual Member</option>
                    <option value="">Individual Member</option>
                          <option value="">Committee</option>
            </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Title</label>
        <div class="col-sm-2">
          <select class="form-control">
              <option value="MR">MR</option>
            </select>
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 form-control-label">NIC</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>

      <div class="form-group row">
        <label class="col-sm-2 form-control-label">REF ID</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>












    </div>
  </div>

  <div class="box">
    <div class="box-header">
      <h2>Contact Information</h2>
    </div>
    <div class="box-divider m-a-0"></div>
    <div class="box-body">

      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Mobile</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="">
        </div>
        <label class="col-sm-2 form-control-label"> Home</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Email</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Address</label>
        <div class="col-sm-10">
          <textarea type="text" class="form-control" placeholder=""></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 form-control-label">Town</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" placeholder="">
        </div>
      </div>
    </div>
  </div>





  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-2">
      <button class="btn  btn-block btn-fw white">Reset</button>
    </div>
    <div class="col-md-2">
      <a [routerLink]="['/','members','view','1']" class="btn btn-block btn-fw primary">Save</a>
    </div>


  </div>