<div class="row">
  <div class="col-md-4">

       <div class="box">
      <div class="box-header">
        <h2>Checkout Details</h2>
      </div>
      <div class="box-divider m-a-0"></div>
      <div class="box-body">
 

        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Member ID</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>
 

        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Remarks</label>
          <div class="col-sm-9">
            <textarea type="text" class="form-control" placeholder=""></textarea>
          </div>
        </div>

        

      </div>
    </div>

    <div class="box">
      <div class="box-header">
        <h2>Add Items</h2>
      </div>
      <div class="box-divider m-a-0"></div>
      <div class="box-body">

        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Copy ID</label>
          <div class="col-sm-4">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>

       

        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Checkout Date</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="">
          </div>

        </div>

        <div class="form-group row">
          <label class="col-sm-3 form-control-label">Return Date</label>
          <div class="col-sm-9">
            <input type="text" class="form-control" placeholder="">
          </div>
        </div>

     

        <div class="form-group row">
          <div class="col-md-6"></div>
          <div class="col-sm-6">
            <button class="btn info">Add To Checkout</button>
          </div>
        </div>

      </div>
    </div>
  </div>


  <div class="col-md-8">

    <div class="box">
      <div class="box-header">
        <h2>Checkout List</h2>
      </div>
      <div class="box-divider m-a-0"></div>
      <div class="box-body">
        <div class="row">
          <div class="col-md-10"></div> 
          <div class="col-md-2   ">
            <button class="btn primary btn-block">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>