<div class="row">
  <div class="col-sm-6">
    <div class="box">
      <div class="box-header ">
        <h2>Nilesh Jayanandana <small> 00001234</small></h2>

      </div>
      <div class="box-divider m-a-0"></div>
      <div class="box-body  ">
        <p>
          No Address Available
        </p>

      </div>
      <div class="box-divider m-a-0"></div>

      <div class="list group">


        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle primary avatar">
                <span>N</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">NIC </a></div>
            <small class="text-muted text-ellipsis">930980501V</small>

          </div>
        </li>

        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle indigo avatar">
                <span>M</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Mobile </a></div>
            <small class="text-muted text-ellipsis">0715910955</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle pink avatar">
                <span>C</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Home </a></div>
            <small class="text-muted text-ellipsis">N/A</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle purple avatar">
                <span>E</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Email </a></div>
            <small class="text-muted text-ellipsis">N/A</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle blue avatar">
                <span>T</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Town </a></div>
            <small class="text-muted text-ellipsis">N/A</small>
          </div>
        </li>
        <li class="list-item">
          <a href="" class="list-left">
            <span class="w-40 circle dark avatar">
                <span>D</span>

            </span>
          </a>
          <div class="list-body">
            <div><a href="">Date Registered </a></div>
            <small class="text-muted text-ellipsis">10/10/2017</small>
          </div>
        </li>


      </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="box">
      <div class="box-header ">
        <h2>Recent Activity</h2>

      </div>
      <div class="box-divider m-a-0"></div>
      <div class="streamline">
        <div class="sl-item">
          <div class="sl-content">
            <div class="sl-date text-muted">2 minutes ago</div>
            <p>Check your Internet connection</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="sl-date text-muted">9:30</div>
            <p>Meeting with tech leader</p>
          </div>
        </div>
        <div class="sl-item b-success">
          <div class="sl-content">
            <div class="sl-date text-muted">8:30</div>
            <p>Call to customer <a href="#" class="text-info">Jacob</a> and discuss the detail.</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="sl-date text-muted">Wed, 25 Mar</div>
            <p>Finished task <a href="#" class="text-info">Testing</a>.</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="sl-date text-muted">Thu, 10 Mar</div>
            <p>Trip to the moon</p>
          </div>
        </div>
        <div class="sl-item b-info">
          <div class="sl-content">
            <div class="sl-date text-muted">Sat, 5 Mar</div>
            <p>Prepare for presentation</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="sl-date text-muted">Sun, 11 Feb</div>
            <p><a href="#" class="text-info">Jessi</a> assign you a task <a href="#" class="text-info">Mockup Design</a>.</p>
          </div>
        </div>
        <div class="sl-item">
          <div class="sl-content">
            <div class="sl-date text-muted">Thu, 17 Jan</div>
            <p>Follow up to close deal</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>